.menu-content {
    height: 60px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.menu-menu {
    max-width: 60px !important;
}

.menu-title {
    margin-right: 30px;
}

.height-100 {
    height: 100%;
}

.div-back {
    width: 40px;
    position: relative;
    float: left;
}

.div-titulo {
    line-height: 40px;
}

.menu-acoes {
    padding-right: 0px !important;
}

@media(max-width: 1087px) {
    .menu-title {
        margin-right: 0px;
    }
}